 

</div>

 <div class="list-group; col-md-4">
    <%= link_to "Non Followers", action: "nonfollowers" %></br>
    <%= link_to "Fans", action: "fans" %> </br>
<<<<<<< HEAD
    <%= link_to "Inactive Followers", action: "inactive_following" %></br>
    <%= link_to "White List", action: "whitelist" %> </br>
        <br><br><br>
   
    <a href="#" class="list-group-item">Black List <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">Copy Followers <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
  </div>
=======
        <%= link_to "Inactive Followers", action: "inactive_following" %>
        <br><br><br>
    <a href="#" class="list-group-item">Non Followers <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">Fans <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">Inactive Following <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">Copy Followers <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">White List <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
    <a href="#" class="list-group-item">Black List <span class="glyphicon glyphicon-chevron-right"> </span> </a><br>
  </div>


>>>>>>> 2476a5bf013809e5ca1b04f509f92ee3bc57a2b6
